* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  margin: 0 auto;
  max-width: 1350px;
}

ul {
  list-style-type: none;
}

:root {
  --color1: rgb(0 36 127);
  --color2: rgb(132 186 240);
  --color3: rgb(251 26 31);
}

.section-1 {
  background: rgb(226 238 251);
}

.section-1 ul {
  display: flex;
  font-size: 12px;
  color: var(--color1);
  justify-content: flex-end;
  gap: 5px;
  padding: 8px 10px;
}

.section-2 {
  background: var(--color2);
}

.section-2 > div {
  display: flex;
}

.section-2 h1 {
  padding: 7px;
  padding-right: 20px;
}

.net-banking {
  display: block;
  font-size: 18px;
  text-align: right;
  margin-bottom: 2px;
}

.net {
  color: var(--color3);
}

.banking {
  color: var(--color1);
}

.right-section {
  padding-top: 10px;
  color: var(--color1);
  flex-grow: 1;
  padding-right: 10px;
}

.right-section-part-1 {
  display: flex;
  justify-content: space-between;
  color: var(--color1);
}

.right-section-part-1 .left {
  font-size: 13px;
}

.right-section-part-1 .left span {
  display: block;
}

.right-section-part-1 .left .welcome-text {
  font-weight: 600;
}

.right-section-part-1 .left .login-text, .right-section-part-1 .right ul {
  font-size: 13px;
  font-weight: 500;
}

.right-section-part-1 .right ul {
  display: flex;
  gap: 10px;
  align-items: center;
}

.right-section-part-1 .right ul button, .button {
  background: var(--color1);
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 13px;
  border-radius: 4px;
  text-decoration: none;
}

.right-section-part-2{
  max-width: 883px;
  margin-left: auto;
 }

.right-section-part-2 ul {
  margin-top: 15px;
  display: flex;
  color: var(--color1);
  justify-content: space-around;
}

.right-section-part-2 ul li {
  padding: 15px 5px;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
}

.nav-link-active {
  background-color: var(--color1);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

h2 {
  color: var(--color1);
  text-align: center;
}

.manage-part-1 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.manage {
  padding: 0 10px;
}

.table-container {
  margin-top: 25px;
  overflow-x: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 14px;
}

.no-data-div {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  font-size: 14px;
  border-top: none;
}

.form-container {
  margin: 20px auto 30px;
  max-width: 500px;
  display: block;
}

.form-container label {
  font-size: 15px;
}

.form-container label, .form-container input {
  display: block;
  width: 100%;
}

.btn-container {
  margin-top: 10px;
  text-align: right;
}

.form-container input, .form-container textarea, .form-container select {
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-top: 5px;
}

.form-container textarea, .form-container select {
  max-width: 100%;
  width: 100%;
  resize: none;
}

.form-container select {
  appearance: none;
}

.required, .error-msg {
  color: #f00;
}

.error-msg {
  margin-top: 5px;
  font-size: 12px;
}

.each-field-div {
  margin-top: 10px;
}

.add-beneficiary .manage-part-1 {
  justify-content: center;
}

.links-head {
  width: 100px;
}

.link-container {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
}

.ellipsis {
  display: block;
  word-break: break-all;
}
